.bsf_search-box-wrap{
    position: relative;
}
.bsf_search-box-input {
    border: none;
    width: 100%;
    padding: 0.75em;
    background:transparent;
}
.bsf_search-box-input:focus {
    border: none;
    outline: none;
}
.bsf_search-box-wrap svg {
    position: absolute;
    right: 5px;
    padding: 0.3em;
    fill: #cac4d0;
}
.bsf_search-box-input::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}